@import url(http://fonts.googleapis.com/css?family=Raleway:800,400);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*========================
      Globals
========================*/

html{ width: 100%;height: 100%;}
img { max-width: 100%;}
body{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(210,50,50,0.2);
}
header{
  display: block;
}
h1{
  text-align: center;
  color: rgb(255,255,255);
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 1);
  font-size: 1em;
}
p{
  font-size: 1em;
  display: inline-block;
}
li{
  list-style-type: none;
}
a{
  color: rgb(210,50,50);
}
header nav{
  position: absolute;
  top: 0;
  right: 0;
}
main section.square {
  text-align: center;
}
#login-buttons{
  display: inline-block;
}
#login-dropdown-list{
  position: relative;
  margin: 7% auto 7% auto;
}
.accounts-dialog, main section.square{
  display:block;
  margin:auto; 
  border:solid 1px rgba(152,36,36,0.5);
  border-radius: 5px;
  background-color: rgb(255,255,255);
  -webkit-box-shadow: -2px 2px 5px 1px rgba(210,50,50,0.3);
  -moz-box-shadow: -2px 2px 5px 1px rgba(210,50,50,0.3);
  box-shadow: -2px 2px 5px 1px rgba(210,50,50,0.3);
} 
.accounts-dialog{
  padding: 0% 0% 0% 0%;
}

/*========================
      Media Queries
========================*/

@media only screen and (max-width: 24em){ /* width 1 */
  header {
    margin: 4% 5% 7% 5%;
  }
  header nav {
    padding: 3% 3% 0% 0%;
  }
  h1 {
    padding: 0% 0% 0% 0%;
    font-size: 161%;
  }
  #login-buttons {
    width: 99%;
    margin: 1% auto 1% auto;
  }
  #login-dropdown-list {
    position: relative;
    margin: 7% auto 7% auto;
  }
  .accounts-dialog, main section.square {
    display:block;
    width:91%;
    margin:auto;
  } 
  .accounts-dialog{
    padding: 3% 5% 10% 5%;
  }
  main section.square {
    height: 9em;
    padding: 21% 0% 0% 0%;
  }
  main section.square article{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 360%;
    color: rgb(210,50,50);
    font-weight: 700;
  }
  main section.square a.button {
    display: block;
    width: 69%;
    margin: 3% auto;
    padding: 3% 0% 4% 0%;
    color: rgb(255,255,255);
    background-color: rgb(210,50,50);
  }
  main li {
    background-color: rgb(255,255,255);
    padding: 5%;
    border-bottom-style: solid;
    border-bottom-color: rgb(210,50,50);
    border-bottom-width: 2px;
  }
  main li a {
    display: block;
    margin: 2% 0% 2% 0%;
  }
}
@media only screen and (min-width: 24em) and (max-width: 44em){ /* width 2 */
  h1{
    padding: 0% 0% 0% 0%;
    font-size: 161%;
  }
}

@media only screen and (min-width: 44em) and (max-width: 68em){  /* width 3 */
  h1{
    padding: 0% 0% 0% 0%;
    font-size: 161%;
  }  
}

@media only screen and (min-width: 44em) and (max-width: 68em) and (min-height: 800px){  /* width 3 Height Portrait*/
  h1{
    padding: 0% 0% 0% 0%;
    font-size: 161%;
  }  
}

@media only screen and (min-width: 68em){  /* DESKTOPS */
  h1{
    padding: 0% 0% 0% 0%;
    font-size: 161%;
  }  
}


