<template name="home">
  {{>main}}
</template>

<template name="main">
  <main>
    {{#if currentUser}}
      <section class="square">
        {{>upload}}
      </section>
      <section class="square">
        {{>documentLink}}
      </section>
    {{else}}
      <section class="square">
        {{>brandLogo}}
      </section>
    {{/if}}
    
  </main>
</template>

<template name="upload">
  <p>Upload a document for translation</p>
  <a class="button">Upload</a>
</template>

<template name="documentLink">
  <p>Browse your documents</p>
  <a class="button">Browse</a>
</template>

<template name="brandLogo">
  <article>Tongues</article>
</template>
